<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hasantoufiqahamed.device_screenshot">

    <application>
        <service
            android:name=".MediaProjectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:permission="TODO"
            android:stopWithTask="false" />
    </application>
</manifest>
